@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
      font-family: 'Roboto Slab', serif;
}

@media screen and (max-width:576px) {
      .small-device {
            display: flex;
            flex-direction: column;
      }

}